*:-webkit-scrollbar {
  width: 2px;
}

.coach {
  position: relative;
  aspect-ratio: 260/294;
  overflow: hidden;

  @include vp-1199 {
    aspect-ratio: 268/294;
  }

  @include vp-767 {
    aspect-ratio: 226/274;
  }

  &:hover,
  &:focus-within {
    .coach__wrapper {
      z-index: -1;
    }

    h3 {
      position: static;
      transform: none;
      width: auto;
      margin: 0 0 0 -12px;

      @include vp-1199 {
        margin: 0 0 0 -8px;
      }

      @include vp-767 {
        margin: 0 0 0 -2px;
      }
    }

    .coach__content {
      overflow-y: scroll;
      scrollbar-width: thin;
      background: rgba(16, 38, 84, 0.89);
    }
  }
}

.coach__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  z-index: 2;
}

.coach__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coach__content {
  height: 100%;
  width: 100%;
  padding: 52px 44px 53px 55px;
  text-align: center;
  color: $color-default-white;

  @include vp-1199 {
    padding: 53px 55px 51px 54px;
  }

  @include vp-767 {
    padding: 42px 33px 42px 34px;
  }

  h3 {
    position: absolute;
    left: 50%;
    bottom: 23px;
    transform: translateX(-50%);
    z-index: 2;
    width: max-content;
    margin: 0;
    font-family: $ff-roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: $color-default-white;

    @include vp-1199 {
      left: 51.5%;
      bottom: 21px;
    }
  }

  span {
    display: block;
    margin: -4px 0 33px -12px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #b6bdcc;

    @include vp-1199 {
      margin: -4px 0 33px -8px;
    }

    @include vp-767 {
      margin: -4px 0 33px -2px;
    }
  }
}

.coach__advantages-list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include vp-1199 {
    gap: 13px;
  }

  li {
    position: relative;
    z-index: 1;
    text-align: start;
    padding-left: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 6px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $color-default-white;
    }
  }
}
