.container {
  max-width: 1366px;
  margin: 0 auto;

  &--about {
    display: grid;
    grid-template-columns: 355px 1fr;
    gap: 85px;
    padding: 120px 103px 200px 163px;

    @include vp-1199 {
      display: block;
      padding: 101px 45px 183px;
    }

    @include vp-767 {
      padding: 63px 0 45px;
    }
  }

  &--membership {
    position: relative;
    padding: 120px 103px;
    text-align: center;

    @include vp-1199 {
      padding: 100px 45px;
    }

    @include vp-767 {
      padding: 70px 15px;
    }
  }

  &--promo {
    display: grid;
    grid-template-columns: 1fr 660px;
    justify-content: center;
    padding: 120px 103px 53px;

    @include vp-1199 {
      grid-template-columns: 1fr 2fr;
      padding: 100px 45px 50px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      padding: 70px 15px 35px;
    }
  }

  &--coaches {
    position: relative;
    padding: 53px 103px 91px;

    @include vp-1199 {
      padding: 50px 101px 100px;
    }

    @include vp-767 {
      padding: 30px 47px 70px;
    }
  }

  &--advantages {
    padding: 146px 103px 83px;

    @include vp-1199 {
      padding: 93px 45px;
    }

    @include vp-767 {
      padding: 64px 0 53px;
    }
  }

  &--stocks {
    padding: 149px 103px 60px;

    @include vp-1199 {
      padding: 89px 45px 50px;
    }

    @include vp-767 {
      padding: 64px 15px 35px;
    }
  }

  &--reviews {
    position: relative;
    padding: 58px 103px 120px;

    @include vp-1199 {
      padding: 42px 45px 100px;
    }

    @include vp-767 {
      padding: 29px 15px 61px;
    }
  }

  &--free-lesson {
    max-width: 477px;
    margin: 0 0 0 auto;

    @include vp-1199 {
      margin: 0;
    }
  }

  &--contacts {
    max-width: 404px;
    margin: 0 auto 0 0;

    @include vp-1199 {
      margin: 0;
    }
  }

  &--main-footer {
    padding: 44px 104px 32px 103px;

    @include vp-1199 {
      padding: 45px 39px 44px 45px;
    }

    @include vp-767 {
      padding: 50px 15px;
    }
  }
}
