.price__sum {
  position: relative;
  top: 25px;
  left: 18px;
  z-index: 1;
  width: max-content;
  margin: 0;
  padding-right: 44px;
  font-weight: 700;
  font-size: 60px;
  line-height: 42px;
  color: #103aae;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 42px;
    background-image: url("../img/sprite/rouble.svg");
    background-repeat: no-repeat;
  }
}
