.promo__text {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 59px;
  row-gap: 4px;
  padding: 85px 78px;
  background-color: #ed0233;
  color: $color-default-white;

  @include vp-1199 {
    grid-template-columns: 117px 56px;
    grid-template-rows: min-content min-content min-content;
    column-gap: 29px;
    row-gap: 0;
    padding: 52px 45px 51px 45px;
  }

  @include vp-767 {
    justify-content: center;
    padding: 50px 44px;
  }

  dl {
    display: flex;
    flex-direction: column;
    margin: -4px 0 8px;

    @include vp-1199 {
      margin: -4px 0 3px;
    }
  }

  dt {
    width: max-content;
    padding: 0 27px 4px 0;
    border-bottom: 1px solid $color-default-white;
    font-size: 18px;
    line-height: 27px;

    @include vp-1199 {
      padding: 0 17px 0 0;
      font-size: 12px;
      line-height: 18px;
    }

    &:last-of-type {
      padding: 0 42px 4px 0;

      @include vp-1199 {
        padding: 0 24px 0 0;
      }
    }
  }

  dd {
    display: flex;
    align-items: center;
    gap: 7px;
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;

    @include vp-1199 {
      gap: 4px;
      font-size: 24px;
      line-height: 31px;
    }

    &:not(:last-of-type) {
      margin: -4px 0 12px;

      @include vp-1199 {
        margin: 0 0 3px;
      }
    }
  }

  p {
    grid-column: 1/3;
    margin: 0;
    font-size: 18px;
    line-height: 27px;

    @include vp-1199 {
      font-size: 12px;
      line-height: 18px;
    }
  }

  .promo__button {
    grid-column: 1/3;
    margin: 38px 0 0;
    padding: 25px;
    font-family: $ff-roboto;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: inherit;
    border: 4px solid $color-default-white;

    @include vp-1199 {
      margin: 30px 0 0;
      padding: 12px;
      font-size: 10px;
      line-height: 12px;
      border: 2px solid $color-default-white;
    }

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.promo__title {
  margin: 0 0 0 13px;
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 82px;
  line-height: 79px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @include vp-1199 {
    margin: 0 0 0 7px;
    font-size: 48px;
    line-height: 46px;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;

  span {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    @include vp-1199 {
      font-size: 10px;
      line-height: 13px;
    }
  }
}

.promo__photo {
  @include vp-767 {
    overflow: hidden;
    aspect-ratio: 290/292;
  }
}

.promo__image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include vp-767 {
    object-position: -46px 21px;
    transform: scale(1.2);
  }
}
