.review__quote {
  display: grid;
  grid-template-columns: 80px 1fr;
  column-gap: 28px;
  row-gap: 14px;
  margin: 0;

  @include vp-767 {
    grid-template-columns: 84px 1fr;
    column-gap: 15px;
    row-gap: 15px;
  }
}
