.reviews--nojs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.reviews__title {
  margin: 0 0 37px 5px;
  text-align: center;

  @include vp-1199 {
    margin: 0 0 40px -5px;
  }

  @include vp-767 {
    margin: 0 0 42px -3px;
  }
}

.reviews__button {
  position: absolute;
  top: 50%;
  z-index: 4;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  @include vp-767 {
    top: 51%;
    width: 10px;
    height: 19px;
  }

  &--prev {
    left: 345px;

    @include vp-1199 {
      left: 45px;
    }

    @include vp-767 {
      left: 15px;
    }
  }

  &--next {
    right: 347px;
    transform: rotate(180deg);

    @include vp-1199 {
      right: 45px;
    }

    @include vp-767 {
      right: 15px;
    }
  }

  &--nojs {
    display: none;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &:hover:not(:disabled) .reviews__icon {
    stroke: $color-sapphire;
  }
}

.reviews__icon {
  stroke: #afafaf;

  @include vp-767 {
    width: 10px;
    height: 19px;
  }
}

.reviews__swiper {
  position: relative;
  margin: 0 300px;

  @include vp-1199 {
    margin: 0 56px;
  }

  @include vp-767 {
    margin: 0 32px;
  }
}

.reviews__list {
  height: auto;
}

.reviews__item {
  height: auto;
  padding: 62px 62px 57px;
  background: #1c3374;

  @include vp-1199 {
    padding: 62px 65px 57px;
  }

  @include vp-767 {
    padding: 40px 25px 36px;
  }
}
