.reviews__title {
  margin: 0 0 37px;
  text-align: center;

  @include vp-1199 {
    margin: 0 0 50px;
  }
}

.reviews__button {
  position: absolute;
  top: 50%;
  z-index: 4;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  @include vp-767 {
    width: 10px;
    height: 19px;
  }

  &--prev {
    left: 347px;

    @include vp-1199 {
      left: 40px;
    }

    @include vp-767 {
      left: 22px;
    }
  }

  &--next {
    right: 347px;
    transform: rotate(180deg);

    @include vp-1199 {
      right: 40px;
    }

    @include vp-767 {
      right: 22px;
    }
  }

  &--nojs {
    display: none;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &:hover:not(:disabled) .reviews__icon {
    stroke: $color-sapphire;
  }
}

.reviews__icon {
  stroke: #afafaf;

  @include vp-767 {
    width: 10px;
    height: 19px;
  }
}

.reviews__swiper {
  position: relative;
  margin: 0 300px;

  @include vp-1199 {
    margin: 0 56px;
  }

  @include vp-767 {
    margin: 0 32px;
  }
}

.review__list {
  height: auto;

  &--nojs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.reviews__item {
  padding: 62px 62px;
  background: #1c3374;

  @include vp-1199 {
    padding: 62px 65px;
  }

  @include vp-767 {
    padding: 40px 25px;
  }
}

.review__quote {
  display: grid;
  grid-template-columns: 80px 1fr;
  column-gap: 28px;
  row-gap: 25px;
  margin: 0;

  @include vp-767 {
    grid-template-columns: 84px 1fr;
    column-gap: 15px;
    row-gap: 20px;
  }
}
