.stock {
  color: #1c3374;

  @include vp-1199 {
    min-height: 211px;
  }

  @include vp-767 {
    text-align: center;
  }

  h3 {
    margin: 0 0 2px;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
  }

  p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
  }

  a {
    display: block;
    width: max-content;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1c3374;
    border-bottom: 1px solid #1c3374;

    @include vp-767 {
      margin: 0 auto;
    }

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }

  br {
    display: none;

    @include vp-1199 {
      display: block;
    }
  }
}

.stock__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 462px;
  padding: 35px 45px 45px;
  background-color: #ed0233;
  color: $color-default-white;

  @include vp-767 {
    min-height: 299px;
    padding: 33px 50px 45px;
    text-align: center;
  }

  h3 {
    margin: 0 0 25px;
    font-weight: 700;
    font-size: 28px;
    line-height: 44px;

    @include vp-767 {
      margin: 0 0 21px;
    }
  }

  span {
    display: block;
    font-size: 70px;
    line-height: 58px;
  }

  p {
    margin: 0;
    font-size: 18px;
    line-height: 25px;
  }

  a {
    display: block;
    width: max-content;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-default-white;
    border-bottom: 1px solid $color-default-white;

    @include vp-767 {
      margin: 0 auto;
    }

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.stock__image-wrapper {
  @include vp-767 {
    width: 100%;
    min-height: 299px;
    aspect-ratio: 290/299;
  }
}

.stock__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: -48px 0;

  @include vp-1199 {
    object-position: 0;
  }

  @include vp-767 {
    object-position: 0 -6px;
  }
}
